@charset "UTF-8";

/* === Section Footer === */
.footer {
    height: 101px;
    background-color: #193454;
}

.footer .container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.footer .container .infos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer .container p {
    font-family: 'Sofia Sans', sans-serif;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    padding-top: 21px;
}

.footer .container .infos .desenvolvedor {
    display: flex;
    justify-content: center;
}

.footer .container .infos .desenvolvedor img {
    padding-top: 18px;
    width: 150px;
}