@charset "UTF-8";

/* === Sections Parallax === */
.parallax {
  height: 100vh;
  width: 100vw;
}

.parallax .wallpaper-parallax {
  position: relative;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  overflow: hidden;
  background-attachment: fixed;
}