@charset "UTF-8";

/* === Section projetos === */
.projetos {
  height: 1060px;
  width: 100vw;
  background-color: #ffffff;
}

.projetos .container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.projetos .container h1 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.projetos .relacao-projetos {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projetos .relacao-projetos .pluscursos {
  margin-top: 30px;
}

.projetos .relacao-projetos .pluscursos img {
  width: 320px;
  display: flex;
  margin: auto;
  cursor: pointer;
  border: 8px solid #ffffff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0,.5);
}

.projetos .relacao-projetos .pluscursos .legenda {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projetos .relacao-projetos .pluscursos .legenda h3 {
  font-family: 'Sofia Sans', sans-serif;
  font-style: normal;
  font-size: 2rem;
  color: #101010;
  cursor: pointer;
  padding-bottom: 35px;
}

.projetos .relacao-projetos .academia {
  margin-top: 30px;
}

.projetos .relacao-projetos .academia img {
  width: 320px;
  display: flex;
  margin: auto;
  cursor: pointer;
  border: 8px solid #ffffff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0,.5);
}

.projetos .relacao-projetos .academia .legenda {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projetos .relacao-projetos .academia .legenda h3 {
  font-family: 'Sofia Sans', sans-serif;
  font-style: normal;
  font-size: 2rem;
  color: #101010;
  cursor: pointer;
}

.projetos .relacao-projetos .sitepessoal {
  margin-top: 30px;
}

.projetos .relacao-projetos .sitepessoal img {
  width: 320px;
  display: flex;
  margin: auto;
  cursor: pointer;
  border: 8px solid #ffffff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0,.5);
}

.projetos .relacao-projetos .sitepessoal .legenda {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projetos .relacao-projetos .sitepessoal .legenda h3 {
  font-family: 'Sofia Sans', sans-serif;
  font-style: normal;
  font-size: 2rem;
  color: #101010;
  cursor: pointer;
}

.projetos .container .orcamento .soliciteorcamento {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  color: #FFFFFF;
  min-width: 236px;
  text-decoration: none;
  background-color: #193454;
  border-radius: 10px;
  padding: 15px;
  width: 270px;
  max-height: 54px;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

.projetos .container .orcamento .soliciteorcamento::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f1f1f1;
  border: 3px solid #193454;
  border-radius: 10px;
  transition: all .5s;
  z-index: -1;
}

.projetos .container .orcamento .soliciteorcamento::before {
  width: 100%;
  height: 0;
  top: 0%;
  left: 0%;
}

.projetos .container .orcamento .soliciteorcamento:hover::before {
  height: 100%;
}

.projetos .container .orcamento .soliciteorcamento:hover {
  color: #193454;
}

.projetos .container .orcamento .soliciteorcamento img {
  width: 25px;
  z-index: 0;
  margin-left: 2px;
}