@charset "UTF-8";

/* === Section Sobre mim === */
.sobre {
  height: 628px;
  width: 100vw;
  background-color: #ffffff;
}

.sobre .container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

h1 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}