@charset "UTF-8";

/* === Section Sobre mim === */
.sobre {
  height: 550px;
  width: 100vw;
  background-color: #ffffff;
}

.sobre .container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.sobre .container h1 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.sobre .container p {
  font-family: 'Sofia Sans', sans-serif;
  font-style: normal;
  font-size: 2rem;
  color: #101010;
  padding-top: 15px;
  text-align: justify;
  text-indent: 50px;
  line-height: 30px;
}