@charset "UTF-8";

/* === Section Trabalhos === */
.trabalhos {
  height: 1060px;
  width: 100vw;
  background-color: #ffffff;
}

.trabalhos .container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.trabalhos .container h1 {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  max-width: 1000px;
}

.trabalhos .relacao-trabalhos {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trabalhos .relacao-trabalhos .academia {
  margin-top: 30px;
}

.trabalhos .relacao-trabalhos .academia img {
  width: 320px;
  display: flex;
  margin: auto;
  cursor: pointer;
  border: 8px solid #ffffff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0,.5);
}

.trabalhos .relacao-trabalhos .academia .legenda {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trabalhos .relacao-trabalhos .academia .legenda h3 {
  font-family: 'Sofia Sans', sans-serif;
  font-style: normal;
  font-size: 2rem;
  color: #101010;
  cursor: pointer;
}

.trabalhos .relacao-trabalhos .sitepessoal {
  margin-top: 30px;
}

.trabalhos .relacao-trabalhos .sitepessoal img {
  width: 320px;
  display: flex;
  margin: auto;
  cursor: pointer;
  border: 8px solid #ffffff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0,.5);
}

.trabalhos .relacao-trabalhos .sitepessoal .legenda {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trabalhos .relacao-trabalhos .sitepessoal .legenda h3 {
  font-family: 'Sofia Sans', sans-serif;
  font-style: normal;
  font-size: 2rem;
  color: #101010;
  cursor: pointer;
}

.trabalhos .relacao-trabalhos .pluscursos {
  margin-top: 30px;
}

.trabalhos .relacao-trabalhos .pluscursos img {
  width: 320px;
  display: flex;
  margin: auto;
  cursor: pointer;
  border: 8px solid #ffffff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0,.5);
}

.trabalhos .relacao-trabalhos .pluscursos .legenda {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trabalhos .relacao-trabalhos .pluscursos .legenda h3 {
  font-family: 'Sofia Sans', sans-serif;
  font-style: normal;
  font-size: 2rem;
  color: #101010;
  cursor: pointer;
}

.trabalhos .container .orcamento .soliciteorcamento {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  color: #FFFFFF;
  width: 240px;
  text-decoration: none;
  background-color: #193454;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  margin: auto;
  cursor: pointer;
  margin-top: 35px;
}

.trabalhos .container .orcamento .soliciteorcamento p {
  width: 225px;
}

.trabalhos .container .orcamento .soliciteorcamento:hover {
  filter: drop-shadow(0px 1px 3px rgba(0,0,0,.6));
  margin-top: 34px;
}

.trabalhos .container .orcamento .soliciteorcamento img {
  width: 80px;
}